<%= simple_form_for  @message do |form| %>

<div>
  <%= form.input :title, label: "Title" %>

</div>

<div>
   <%= form.input :description, label: "Descripation" %>

</div>
<br>
<div>
  <%= form.button :submit %>
</div>

<% end %>