<%# <%= simple_form_for([@message, @message.comments.build]) do |f| %>
<%= simple_form_for([@message, @message.comments.build]) do |f| %>
<div>
  <%= f.input :content, label: "Comment" %>
</div>
<div><%= f.button :submit %></div>

<% end %>


